# General
# ------------------------------------------------------------------------------
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CORS_ORIGIN_WHITELIST=http://localhost:3000

# PostgreSQL
# ------------------------------------------------------------------------------
# If you want to develop only with dockerized db change host 'instagram-postgres' to 'localhost'
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/instagram
DATABASE_URL=postgres://postgres:postgres@instagram-postgres:5432/instagram
# DB_HOST=localhost
DB_HOST=instagram-postgres

DB_NAME=instagram
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
