django  # https://www.djangoproject.com/
djangorestframework  # https://github.com/encode/django-rest-framework
django-cors-headers  # https://github.com/adamchainz/django-cors-headers
djangorestframework-jwt  # https://github.com/jpadilla/django-rest-framework-jwt
psycopg2-binary  # for Postgres Database
Pillow  # for image processing 

# dev only
black
flake8
